body::before{
    content:" ";
    background-image: url("../images/main.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    opacity: 0.75;
}
body{
    /*max-width: 1200px;*/
    width: 100%;
    font-family: Roboto;
    font-size: 1.1em;
    line-height: 1.8em;
    
}
/*===============================
table
===============================*/
table{
    background-color: #DCE7F0;
    border-collapse: collapse;
}
tr, th, td{
    border-right: none;
    border: 1px solid black;
}
/*===============================
nav
================================*/
.footer-nav, .header-nav{
    background-color: #DCE7F0;
}