body{
    max-width: 1024px;
    width: 100%;
    font-family: Roboto;
    font-size: 1.1em;
    line-height: 1.8em;
}
a{
    text-decoration: none;
    color: #767676;
}
a:hover{
    text-decoration: none;
    color: #C0C8CA;
}
/*================================================
nav
==================================================*/
.footer-nav, .header-nav{
    background-color: #DCE7F0;
}
.header-nav li{
    padding-left: 1.2em;
}
/*===============================
table
===============================*/
table{
    background-color: #DCE7F0;
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
   border: 1px solid black;
}
th{
    text-align: center;
}
/*==================================================
form
==================================================*/
.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type = "submit"], input[type = "reset"]{
    width: 25%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type = "submit"]{
    background-color: #4CAF50;
}
input[type=submit]:hover{
    background-color: #45a049;
}
input[type = "reset"]{
    background-color: #C0C8CA;
}
input[type = "reset"]:hover{
    background-color: #767676;
}
h3{
    text-align: center;
    background-color: #f2f2f2; 
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
.sucses{
    color: #45a049; 
}
.failed{
    color: #767676;
}
