body{
    margin: 0 auto;
}
/*===============================================
icons
===============================================*/
.about-us p > img, .icon{
    width: 40px;
    height: 40px;
}
/*===============================================
logo
===============================================*/
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.3em;
    padding-top: 1.8em;
    padding-bottom:1.4em;
}
/*==============================================
navigation
==============================================*/
body > header > nav{
   float: right;
    padding-left: 1.2em;
}
.footer-nav ul{
    display: flex;
    justify-content: space-around; 
}
ul > li{
    list-style-type: none;
}
/*==============================================
about us
===============================================*/
main h2{
    padding-left: 2.3em;
}
main p{
    padding-left: 1.9em;
}
.about-us{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.about-us p {
    padding-left: 1.45em;
}
body > main > ul{
    margin: 0;
    padding: 0;
}
/*===============================================
div elements
===============================================*/
.service{
    width: 100%;
}
.service img{
    width: 100%;
}
.service p {
    text-align: center;
    padding: 0;
}
/*=================================================
table
=================================================*/
table{
    width: 100%;
}
/*==================================================
form
==================================================*/
.form {
     display: block;
     width: 70%;
     margin: 0 auto;
}
.btn{
    display: flex;
    justify-content: center;
}
label input, textarea{
    width: 100%;
}
.btn{
    width: auto;
    margin: 0 auto;
}
/*=================================================
footer
==================================================*/
footer > h2{
    padding-left: 2.3em; 
}
.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ico,.contacts img{
    padding: 0 1.2em 0 1.8em;
}
body > footer > div > a{
    color: #4267b2;
}
/*================================================
icons
================================================*/
.ico ::after, ::before {
    content:" ";
}
/*===============================================
responsive
===============================================*/
@media screen and (max-width: 750px) {
    /*=============================
    no slider
    ==============================*/
    .services{
        width: 100%;
    }
    .service img{
        width: 100%;
    }
    .service p {
        text-align: center;
        margin-top: -0.6em;
    }
    /*===========================*/
    .logo h1{
        font-size: 1.6em;
    }
    .logo img{
        height: 100px;
        width: 100px;
    }
    /*============================*/
    .services div{
        width: 100%;
    }
    /*=============================*/
    .form{
        width: inherit;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn input[type = "submit"], 
    .btn input[type = "reset"]{
        width: 100%;
    }
    /*==============================*/
    .contacts{
        display: flex;
        flex-wrap: wrap;
    }
    /*===============================*/
    .footer-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}
@media screen and (max-width: 450px) {
   /*=============================
    no slider
    ==============================*/
    .service{
        width: 100%;
    }
    .service img{
        width: 100%;
    }
    .service p {
        text-align: center;
        margin-top: -0.6em;
    }
    /*=============================*/
   .form{
     margin: 0 auto;
   }
   .contacts img{
       display: flex;
       flex-direction: column;
   }
   .contacts a, p{
       display: flex;
       justify-content: center;
   }
   .footer-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}    