/*===============================================
icons
===============================================*/
.about-us p > img, .icon{
    width: 40px;
    height: 40px;
}
/*==============================================
navigation
==============================================*/
.header-nav ul{
    display: flex;
    justify-content: flex-end; 
}
.footer-nav ul{
    display: flex;
    justify-content: space-around; 
}
ul > li{
    list-style-type: none;
    padding-left: 1.2em;
}
/*===============================================
logo
===============================================*/
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
footer h2, header h1, img{
    padding-left: 1.45em;
}
/*==============================================
main
===============================================*/
.services div{
    width: 50%;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


main h2{
    display: block;
    padding-left: 1.65em;
}
.about-us{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.about-us p {
    padding-left: 1.45em;
}
.services{
    
}
/*=================================================
table
=================================================*/

table{
    width: 100%;
}
table ~ p {
    display: flex;
    align-items: center;
}
table ~ p{
    padding-left: 1.45em;
}
/*==================================================
form
==================================================*/
.btn, .form{
    padding-left: 1.45em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/*=================================================
footer
==================================================*/
.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contacts img{
    padding-right: 1.2em;
}
.icon{
    padding-right: 1.2em;
}
h2 ~ p{
    padding-left: 1.45em;
}
/*===============================================
responsive
===============================================*/
@media screen and (max-width: 720px) {
    .logo h1{
        font-size: 1.6em;
    }
    .logo img{
        height: 100px;
        width: 100px;
    }
    .services div{
        width: 100%;
    }
    .services{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .services .window{
        order: 1;
    }
    .services .surfases{
        order: 2;
    }
    .services .floor{
        order: 3;
    }
    .services .bathroom{
        order: 4;
    }
    .services .rubbish{
        order: 5;
    }
    .contacts{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 450px) {
    .header-nav, .footer-nav{
        display: block;
    }   
}    