body{
    margin: 0 auto;
}
/*===============================================
icons
===============================================*/
.about-us p > img, .icon{
    width: 40px;
    height: 40px;
}
/*==============================================
navigation
==============================================*/
.header-nav ul{
    display: flex;
    justify-content: flex-end; 
}
.footer-nav ul{
    display: flex;
    justify-content: space-around; 
}
ul > li{
    list-style-type: none;
    padding-left: 1.2em;
}
/*===============================================
logo
===============================================*/
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
footer h2, header h1, img{
    padding-left: 1.45em;
}

/*==============================================
horizontal scrol wraper
===============================================*/

/*==============================================
main
===============================================*/
main h2{
    display: block;
    padding-left: 1.4em;
}
.about-us{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.about-us p {
    padding-left: 1.45em;
}
main p{
    padding-left: 1.9em;
}
/*=================================================
table
=================================================*/
table{
    width: 100%;
}
/*==================================================
form
==================================================*/
.form label{
     display: block;
     width: 60%;
     padding: 0 15%;  /*not good*/
}
label input, textarea{
    width: 100%;
}
.btn{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
/*=================================================
footer
==================================================*/
.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contacts img{
    padding-right: 1.2em;
}
.icon{
    padding-right: 1.2em;
}
/*===============================================
responsive
===============================================*/
@media screen and (max-width: 750px) {
    .logo h1{
        font-size: 1.6em;
    }
    .logo img{
        height: 100px;
        width: 100px;
    }
    .services div{
        width: 100%;
    }
    .services{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .services .window{
        order: 1;
    }
    .services .surfases{
        order: 2;
    }
    .services .floor{
        order: 3;
    }
    .services .bathroom{
        order: 4;
    }
    .services .rubbish{
        order: 5;
    }
     .btn{
        display: block;
        width: 100%;
    }
    .contacts{
        display: flex;
        flex-wrap: wrap;
    }
    /*input[type = "submit"], input[type = "reset"]{*/
    /*width: 100%;*/
    /*}*/
}
@media screen and (max-width: 450px) {
   .form{
     margin: 0 auto;
   }
   .contacts img{
       display: flex;
       justify-content: center;
   }
   .contacts a, p{
       width: 100%;
       display: flex;
       justify-content: center;
   }
   .footer-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}    